ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/johnny/.Xauthority" RUN+="/usr/bin/su johnny -c '/home/johnny/.local/bin/chargingnotify 1'"

ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/johnny/.Xauthority" RUN+="/usr/bin/su johnny -c '/home/johnny/.local/bin/chargingnotify 0'"

